# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore mac file
.DS_Store

#Ignore IDE specific files
.classpath
.project
/.settings
.settings
server/app/bin
client/.idea
client/app/bin

#structure diagram
structurediagram.drawio
